* {
  /*  */
}

body {
  font-family: 'Mukta', sans-serif;
  background-color: #f0ffff;
}

.card {
  font-family: 'Fira Code', monospace;
  margin-bottom: 10px;
  padding-top: 10px;
}

.nav {
  padding-top: 2.5%;
  padding-bottom: 1%;
  border-bottom: .5px solid skyblue;
}

section {
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  border-bottom: .5px solid skyblue;
}

/* #nav-one, #nav-two, #nav-three{
  border-right: .5px solid grey;
} */

a:hover {
  /* background-color: #ffd700; */
  font-size: 1.05em;
}

a:active {
  /* background-color: #b8860b; */
  /* box-shadow: 0 5px gray; */
  transform: translateY(2px);
}

#brand {
  /* border-right: .25px solid skyblue; */
  padding-right: 5%;
}


#summary {
  border-left: .25px solid skyblue;
  padding-left: 5%;
}

#brand img {
  margin-bottom: 10px;
}

#brand p {
  text-align: justify;
}

.projects-section {
  display: flex;
  justify-content: space-around;
}

#email-form {
  
  padding-right: 5%;
}

#social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#social-links h3 {
  justify-self: self-start;
}

#social-links a {
  text-decoration: none;
  list-style: none;
  font-size: 1.5em
}

.dark {
  background-color: #073C3C;
  color: whitesmoke;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

